:root {
  --dl-color-scheme-blue: #057dcdff;
  --dl-layout-size-large: 144px;
  --dl-layout-size-small: 48px;
  --dl-layout-space-unit: 16px;
  --dl-color-scheme-bluee: #43b0f1ff;
  --dl-color-scheme-lblue: #bfdff1ff;
  --dl-layout-size-medium: 96px;
  --dl-layout-size-xlarge: 192px;
  --dl-layout-size-xsmall: 16px;
  --dl-color-scheme-bluebg: #e8eef1ff;
  --dl-color-scheme-dgblue: #1e3d58ff;
  --dl-layout-radius-round: 50%;
  --dl-layout-size-xxlarge: 288px;
  --dl-color-scheme-midblue: #abd7f1ff;
  --dl-color-scheme-txtblue: #6dc0f1ff;
  --dl-layout-size-maxwidth: 1144px;
  --dl-color-scheme-lastblue: #96cff1ff;
  --dl-layout-radius-radius2: 2px;
  --dl-layout-radius-radius4: 4px;
  --dl-layout-radius-radius8: 8px;
  --dl-layout-space-halfunit: 8px;
  --dl-layout-space-sixunits: 96px;
  --dl-layout-space-twounits: 32px;
  --dl-layout-radius-radius16: 16px;
  --dl-layout-space-fiveunits: 80px;
  --dl-layout-space-fourunits: 64px;
  --dl-layout-space-eightunits: 128px;
  --dl-layout-space-threeunits: 48px;
  --dl-layout-space-oneandhalfunits: 24px;
}
 
.button {
  color: var(--dl-color-scheme-txtblue);
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  border-color: var(--dl-color-scheme-txtblue);
  border-width: 2px;
  border-radius: 32px;
  background-color: var(--dl-color-scheme-lblue);
}
 
.input {
  color: var(--dl-color-scheme-txtblue);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-scheme-txtblue);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-scheme-lblue);
}
 
.textarea {
  color: var(--dl-color-scheme-txtblue);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-scheme-txtblue);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-scheme-lblue);
}
 
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
 
.list-item {
  display: list-item;
}
 
.teleport-show {
  display: flex !important;
  transform: translateX(0%) !important;
}
 
.button-secondary {
  font-style: normal;
  transition: 0.3s;
  font-family: Lexend;
  font-weight: 500;
  line-height: 1;
  border-color: var(--dl-color-scheme-dgblue);
  margin-right: var(--dl-layout-space-unit);
}
 
.button-secondary:hover {
  color: var(--dl-color-scheme-lblue);
  background-color: var(--dl-color-scheme-blue);
}
 
.button-primary {
  color: var(--dl-color-scheme-lblue);
  font-style: normal;
  transition: 0.3s;
  font-family: Lexend;
  font-weight: 500;
  line-height: 1;
  border-color: var(--dl-color-scheme-dgblue);
  background-color: var(--dl-color-scheme-dgblue);
}
 
.button-primary:hover {
  color: var(--dl-color-scheme-dgblue);
  background-color: var(--dl-color-scheme-lastblue);
}
 
.navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: center;
  background-color: var(--dl-color-scheme-lblue);
}
 
.navbar-burger-menu {
  display: none;
}
 
.max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.button-gradient {
  display: flex;
  font-size: 18px;
  background: linear-gradient(90deg, #C7FF9B 0%, #FFF6A7 100%);
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 700;
  line-height: 0.9;
  padding-top: 20px;
  border-color: transparent;
  margin-right: var(--dl-layout-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
}
 
.button-gradient:hover {
  color: var(--dl-color-scheme-lblue);
  background: unset;
  border-color: var(--dl-color-scheme-lblue);
}
 
.button-transparent {
  color: var(--dl-color-scheme-lblue);
  font-size: 18px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  line-height: 0.9;
  padding-top: 20px;
  border-color: var(--dl-color-scheme-lblue);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  background-color: transparent;
}
 
.button-transparent:hover {
  color: var(--dl-color-scheme-dgblue);
  background-color: var(--dl-color-scheme-lastblue);
}
 
.section-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: var(--dl-layout-space-eightunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-eightunits);
}
 
.hero-container {
  padding-top: 0 !important;
  background-color: var(--dl-color-scheme-dgblue);
}
 
.bg-transparent {
  background-color: transparent;
}
 
.question-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
}
 
.question {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  border-color: rgba(44, 39, 33, 0.08);
  border-width: 1px;
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 12px;
  margin-bottom: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: var(--dl-color-scheme-lblue);
}
 
.footer-column {
  width: 15%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.beforeHeading {
  font-size: 14px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-decoration: none;
}
 
.brandName {
  font-size: 20px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
}
 
.navbarLink {
  font-size: 16px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}

.navbarLink-span {
  background: none;
  border: none;
  color: var(--dl-color-scheme-dgblue);
  cursor: pointer;
  font-size: 16px;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-layout-space-twounits);
}

.navbarLink-span:hover {
  color: white;
}
 
.Content {
  font-size: 16px;
  font-family: Titillium Web;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
 

 
@media(max-width: 767px) {
  .navbar-burger-menu {
    display: flex;
  }
  .section-container {
    padding-top: var(--dl-layout-space-fourunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .footer-column {
    width: 30%;
  }
}
 
@media(max-width: 479px) {
  .footer-column {
    width: 50%;
  }
}
